<header class="home-header">
    <nav class="home-header__navigation">
        <ul class="home-header__navigation__item-list">
            <li class="home-header__navigation-item"><a class="<%= path === '/' ? 'active' : '' %>" href="/" >Home</a></li>
            <li class="home-header__navigation-item"><a class="<%= path === '/admin/add-student' ? 'active' : '' %>" href="/admin/add-student">Add Student</a></li>
        </ul>
    </nav>
</header>